// color
$color-primary: #0064aa;  // 主题色
$color-white: #fff;
$color-gray: #494949;
$color-hover: #1189de;  // 悬浮颜色

$text-color: $color-gray;  // 文字颜色

$content-width: 1200px; // 内容宽度
$text-size: 16px;
$title-size: 18px;
$nav-link-size: $title-size;